<main class="login-form">
<div class="cotainer">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Login</div>
           
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                        <div class="col-md-6">
                            <input type="text" formControlName="email_address" id="email_address" class="form-control" name="email-address" required autofocus>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                        <div class="col-md-6">
                            <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="role" class="col-md-4 col-form-label text-md-right">Role</label>
                        <div class="col-md-6">
                            <input type="text" formControlName="role" placeholder="user/admin" id="password" class="form-control" name="role" required>
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
            </form>
        </div>
    </div>

    // Social Login Service
    <!-- <div class="container" style="max-width: 550px">
        <h2 class="text-center mb-5">Angular Login with Google</h2>
      
        <div *ngIf="isLoggedin === false">
          <div>
            <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
          </div>
        </div>
      
        <div *ngIf="isLoggedin === true">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
          </div>
      
          <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
        </div>
      </div> -->


</div>
</div>
</div>
</main>