
<input type="file" (change)="uploadExcel($event)" >


<button (click)="ExportTOExcel()">
   EXCEL</button>

<table class="table table-striped" id="dataTable" >
    <thead>
      <tr>
        
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <!-- <th>Delete All</th>
        <th></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of Student | paginate: config">
      
        <td scope="row">{{student.firstName}}</td>
        <td scope="row">{{student.lastName}}</td>
        <!-- <td>{{product.}}</td> -->
        <td scope="row">{{student.mobileNumber}}</td>
        <td scope="row">{{student.email}}</td>
        <td scope="row" ><span class="mr-2 btn btn-outline-primary btn-sm" >Edit</span></td>
        <td scope="row"><span class="btn btn-outline-danger btn-sm" (click)="deleteStudent(student.$key)">Delete</span></td>
        <!-- <td><button (click)="Delete(product.Postcode)">Delete</button></td>
        <td><button (click)="Edit(product.Postcode)">Edit</button></td> -->
      </tr>
    </tbody>
  </table> 
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>